/node_modules
/bet_online
/chromedriver-win32
/chromedriver-win64
/chrome-win
/chrome-win-b
/chrome-win-profile1
/chrome-win-profile2
/chrome-win-profile3
/chrome-win-profile4
/chrome-win-profile5
/chrome-win-profile6
/chrome-win-profile7
/chrome-win-profile8
/chrome-win-profile9
/chrome-win-profile10
/profile_1
/profile_2
/profile_3
/profile_4
/profile_5
/profile_6
/profile_7
/profile_8
/profile_9
/tmp
/tmp1
/tmp2
/tmp3
/tmp4
/tmp5
/tmp6
/tmp7
/tmp8